[user]
  email = myohmy10420@gmail.com
  name = KurtHsu
[push]
  default = current
[pager]
  show = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
